<div class="container">
  <h2 class="header">Authentication</h2>

  <form class="auth-form" [formGroup]="authForm" (submit)="submitAuth()">
    <div class="input-container">
      <label class="auth-label" for="email">Email</label>
      <input
        class="input input--auth"
        id="email"
        type="email"
        placeholder="example@gmail.com"
        formControlName="email"
      />
      <p
        class="input-error"
        *ngIf="submitted && !authForm.value.email; else elseBlock"
      >
        Please, input your email!
      </p>
      <ng-template #elseBlock>
        <p
          class="input-error"
          *ngIf="submitted && !isEmailValid(authForm.value.email)"
        >
          Incorrect email format!
        </p>
      </ng-template>
    </div>

    <div class="input-container">
      <label class="auth-label" for="password">Password</label>
      <input
        class="input input--auth"
        id="password"
        type="password"
        placeholder="Your password..."
        formControlName="password"
      />
      <p class="input-error" *ngIf="submitted && !authForm.value.password">
        Please, input your password!
      </p>
    </div>

    <button class="btn btn--auth">Sign In</button>

    <p class="login-error">{{ errorMessage }}</p>
  </form>
</div>
