<div class="container">
  <h2 class="header">Authentication</h2>

  <form class="auth-form" [formGroup]="authForm" (submit)="submitAuth()">
    <label class="auth-label" for="email">Email</label>
    <input
      class="input input--auth"
      id="email"
      type="email"
      placeholder="example@gmail.com"
      formControlName="email"
    />

    <label class="auth-label" for="password">Password</label>
    <input
      class="input input--auth"
      id="password"
      type="password"
      placeholder="Your password..."
      formControlName="password"
    />

    <button class="btn btn--auth">Sign In</button>
  </form>
</div>
