<li class="task">
  <input class="checkbox" type="checkbox" id="task1" />
  <label class="task-label" for="task1">Some task 1</label>
  <div class="btns-container">
    <button class="btn">
      <span class="material-symbols-outlined">delete</span>
    </button>

    <button class="btn">
      <span class="material-symbols-outlined">more_horiz</span>
    </button>
  </div>
</li>

<li class="task">
  <input class="checkbox" type="checkbox" id="task2" />
  <label class="task-label" for="task2">Some task 2</label>
  <div class="btns-container">
    <button class="btn">
      <span class="material-symbols-outlined">delete</span>
    </button>

    <button class="btn">
      <span class="material-symbols-outlined">more_horiz</span>
    </button>
  </div>
</li>
