<li class="task">
  <input class="checkbox" type="checkbox" [id]="task.id" />
  <label class="task-label" [for]="task.id">{{ task.taskName }}</label>

  <div class="btns-container">
    <button class="btn">
      <span class="material-symbols-outlined">delete</span>
    </button>

    <div class="btn-options-container">
      <button class="btn">
        <span class="material-symbols-outlined">more_horiz</span>
      </button>

      <app-drop-down-list class="drop-down-list" />
    </div>
  </div>
</li>
