<div class="container">
  <h2 class="about-title">About the Application</h2>

  <div class="about-content">
    <p class="about-text">
      This is an application where you can write your task and check them if
      you've completed them.
    </p>
    <p class="about-text">
      In order to use this application you need to sign up beforehand.
    </p>
  </div>

  <div class="links">
    <a class="register-link" routerLink="/register">Sign up</a>
    <a class="btn auth-btn btn--stretch login-link" routerLink="">Sign In</a>
  </div>
</div>
