.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 70rem;

  margin: 0 auto;
  padding: 1rem;

  border: 1px solid #868e96;
  border-radius: 11px;
}

.about-title {
  margin-bottom: 1rem;

  font-size: 3rem;
}

.about-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;

  margin-bottom: 1rem;
}

.about-text {
  font-size: 1.5rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.login-link {
  text-decoration: none;
}
