<div class="reg-container">
  <h2 class="reg-header">Registration</h2>

  <form class="reg-form" [formGroup]="regForm" (submit)="submitRegistration()">
    <div class="reg-input-container">
      <label class="reg-label" for="name">Name</label>
      <input
        class="input reg-input"
        id="name"
        type="text"
        placeholder="Your name..."
        formControlName="name"
      />
      <p class="reg-input-error" *ngIf="submitted && !regForm.value.name">
        Please, input your name!
      </p>
    </div>

    <div class="reg-input-container">
      <label class="reg-label" for="email">Email</label>
      <input
        class="input reg-input"
        id="email"
        type="text"
        placeholder="example@gmail.com"
        formControlName="email"
      />
      <p
        class="reg-input-error"
        *ngIf="submitted && !regForm.value.email; else elseBlockEmail"
      >
        Please, input your email!
      </p>
      <ng-template #elseBlockEmail>
        <p
          class="reg-input-error"
          *ngIf="submitted && !isEmailValid(regForm.value.email)"
        >
          Incorrect email format!
        </p>
      </ng-template>
    </div>

    <div class="reg-input-container">
      <label class="reg-label" for="password">Password</label>
      <input
        class="input reg-input"
        id="password"
        type="password"
        placeholder="Your password..."
        formControlName="password"
      />
      <p class="reg-input-error" *ngIf="submitted && !regForm.value.password">
        Please, input your password!
      </p>
    </div>

    <div class="reg-input-container">
      <label class="reg-label" for="repeat-password">Password repeat</label>
      <input
        class="input reg-input"
        id="repeat-password"
        type="password"
        placeholder="Repeat your password..."
        formControlName="passwordRepeat"
      />
      <p
        class="reg-input-error"
        *ngIf="
          submitted && !regForm.value.passwordRepeat;
          else elseBlockPasswordRepeat
        "
      >
        Please, repeat your password!
      </p>
      <ng-template #elseBlockPasswordRepeat>
        <p
          class="reg-input-error"
          *ngIf="
            submitted && regForm.value.password !== regForm.value.passwordRepeat
          "
        >
          Passwords do not match!
        </p>
      </ng-template>
    </div>

    <div class="links">
      <a routerLink="" class="link">&larr; Back to Log In</a>
      <button class="btn reg-btn">Sign Up</button>
    </div>

    <p class="reg-login-error">{{ errorMessage }}</p>
  </form>
</div>
