<div class="reg-container">
  <h2 class="reg-header">Registration</h2>

  <form class="reg-form" [formGroup]="regForm">
    <div class="reg-input-container">
      <label class="reg-label" for="name">Name</label>
      <input
        class="input reg-input"
        id="name"
        type="text"
        placeholder="example@gmail.com"
      />
    </div>

    <div class="reg-input-container">
      <label class="reg-label" for="email">Email</label>
      <input
        class="input reg-input"
        id="email"
        type="text"
        placeholder="example@gmail.com"
      />
    </div>

    <div class="reg-input-container">
      <label class="reg-label" for="password">Password</label>
      <input
        class="input reg-input"
        id="password"
        type="password"
        placeholder="Your password..."
      />
    </div>

    <div class="reg-input-container">
      <label class="reg-label" for="repeat-password">Password repeat</label>
      <input
        class="input reg-input"
        id="repeat-password"
        type="password"
        placeholder="Repeat your password..."
      />
    </div>

    <button class="btn reg-btn">Sign Up</button>
  </form>
</div>
