@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  padding: 2rem 0;

  font-family: "Roboto", sans-serif;
  color: #343a40;
}

.container {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-width: 54.4rem;

  margin: 0 auto;
  padding: 2.4rem;

  border: 1px solid #868e96;
  border-radius: 11px;
}

.input {
  flex: 1;

  padding: 0.4rem 0.8rem;

  color: inherit;

  border: 1px solid #868e96;
  border-radius: 5px;

  outline: none;

  &:focus {
    border: 1px solid #495057;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.2rem 0.4rem;

  color: #212529;

  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #c0eb75;

  outline: none;

  cursor: pointer;
  transition: all 0.3s;

  span {
    font-weight: 500;
  }

  &:focus {
    border: 1px solid #5c940d;
  }

  &:hover {
    background-color: #d8f5a2;
  }
}

.select {
  display: flex;
}
