.task-form {
  display: block;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-width: 54.4rem;

  margin: 0 auto;
  padding: 2.4rem;

  border: 1px solid #868e96;
  border-radius: 11px;
}
